@keyframes colorFade {
  0% { fill: white; }
  50% { fill: transparent; } 
  100% { fill: white; }
}

.animated-path {
  animation: colorFade 2s infinite alternate;
  animation: fillAnimation 3s infinite;
}

@keyframes fillAnimation {
  0% {
    fill: white;;
  }
  50% {
    fill: transparent;;
  }
  100% {
    fill: white;
  }
}
